@import "tailwindcss"; 

@font-face {
  font-family: SpaceMono;
  src: url("./public/fonts/SpaceMono-Regular.ttf");
  
}

@font-face {
  font-family: SpaceMonobold;
  src: url(".public/fonts/SpaceMono-Bold.ttf") ;
  
}

@theme{
  --font-space-regular: SpaceMono, "sans-serif" ;
  --font-space-bold: SpaceMonobold, "sans-serif" ;
}

